body {
  font-family: "Nunito", sans-serif;
  background-color: #394867;
  scroll-behavior: smooth;
}

#navBar .navbar-brand {
  font-size: 1.5rem;
  font-weight: 600;
}

#navBar .nav-link {
  font-size: 1.25rem;
  font-weight: 100;
  color: white;
}

#navBar .nav-link:hover {
  color: #212a3e;
}

.scrolled {
  background-color: #394867;
  transition: background 500ms;
}

.deco {
  color: #212a3e;
  font-weight: 600;
}

.headText {
  color: white;
  text-align: center;
  font-size: 2rem;
  font-weight: 100;
}

/* Home Section */
#home img {
  filter: brightness(0.8);
}
#home h1 {
  font-size: 3rem;
  font-weight: 100;
  letter-spacing: 4px;
}

/* Destination Section */
#destination {
  background-color: #9ba4b5;
}

#destination img {
  height: 250px;
}

/* Lodging Section */
#stay .lead {
  font-size: 1rem;
}

/* Footer Section */
#foot > div:nth-child(1) {
  background-color: #212a3e;
}
#foot > div:nth-child(2) {
  background-color: #111a2e;
}

#foot li {
  font-size: 1.25rem;
}

#foot a,
#foot span {
  color: #394867;
  text-decoration: none;
  font-weight: 900;
}

#foot a:hover {
  text-decoration: underline;
}

#foot > div:nth-child(2) a {
  cursor: pointer;
  font-weight: 100;
}
#foot > div:nth-child(2) a:hover {
  color: white;
}

@media (min-width: 1200px) {
  /* Destination section */
  #destination img {
    height: 500px;
  }

  .headText {
    font-size: 3rem;
  }

  /* Lodging Section */
  #stay .lead {
    font-size: 1.5rem;
  }

  /* Footer section */
  #foot li {
    font-size: 1.5rem;
  }
}
